@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row text-center">
    <div class="col-md-4">
        <h2><a class="btn btn-link" href="/student">Student Panel &raquo;</a></h2>
    </div>
    <div class="col-md-4">
        <h2><a class="btn btn-link" href="/teacher">Teachers Panel &raquo;</a></h2>
    </div>
    <div class="col-md-4">
        <h2><a class="btn btn-link" href="/project">Projects Panel &raquo;</a></h2>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-4">
        <h2><a class="btn btn-link" href="/major">Majors Panel &raquo;</a></h2>
    </div>
    <div class="col-md-4">
        <h2><a class="btn btn-link" href="/rankstudent">Student Ranks Panel &raquo;</a></h2>
    </div>
    <div class="col-md-4">
        <h2><a class="btn btn-link" href="/rankteacher">Teacher Ranks Panel &raquo;</a></h2>
    </div>
</div>