<style>
    /*body {
        background-image: url("../../Content/img/wall.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .jumbotron {
        background-color: black;
    }*/

    /*.jumbotron {
        background-color: white;
        border: none;
        box-shadow: 4px 8px 16px #777;
    }*/

    .container-fluid.body-content {
        padding: 0;
    }

    .card {
        width: 350px;
        height: 450px;
        box-shadow: 4px 8px 16px #888, 0px 0px 2px #666;
        text-align: center;
        padding: 1%;
        margin-bottom: 25px;
        margin-left: 10px;
        margin-top: 17px;
        padding: 0px;
        color: white;
        background-color:rgb(53, 73, 106);
        border-radius: 3%;
    }

    .card .card-icon {
        min-height: 140px;
    }

    .card .card-heading {
        min-height: 50px;
        font-size: 24px;
        vertical-align: middle;
    }

    .card .card-body {
        min-height: 200px;
        text-align: justify;
        line-height: 1.75em;
        font-size: 18px;
        padding: 8px;
    }

    .card .card-footer {
        min-height: 60px;
        padding-top: 10px;
    }

    .card.card-student .card-icon {
        background-image: url("../../Content/img/student1.png");
        background-position: center;
        background-size: 64px 64px;
        background-repeat: no-repeat;
    }

    .card.card-teacher .card-icon {
        background-image: url("../../Content/img/teacher1.png");
        background-position: center;
        background-size: 64px 64px;
        background-repeat: no-repeat;
    }

    .card.card-admin .card-icon {
        background-image: url("../../Content/img/admin1.png");
        background-position: center;
        background-size: 120px 120px;
        background-repeat: no-repeat;
    }

    .card-register {
        background-image: url("../../Content/img/register.png");
        background-position: 50px 70px;
        background-size: 120px 120px;
        background-repeat: no-repeat;
    }

    .card-login {
        background-image: url("../../Content/img/login1.png");
        background-position: 50px 70px;
        background-size: 120px 120px;
        background-repeat: no-repeat;
    }

</style>



@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron grey">
    <h1 class="large">Welcome to Project Assigner</h1>
    <p class="lead">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.<br />
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@*<div class="row text-center">
    <div class="col-md-4">
        <h2><a class="btn btn-link" href="/student">Student Panel &raquo;</a></h2>
    </div>
    <div class="col-md-4">
        <h2><a class="btn btn-link" href="/teacher">Teachers Panel &raquo;</a></h2>
    </div>
    <div class="col-md-4">
        <h2><a class="btn btn-link" href="/project">Projects Panel &raquo;</a></h2>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-4">
        <h2><a class="btn btn-link" href="/major">Majors Panel &raquo;</a></h2>
    </div>
    <div class="col-md-4">
        <h2><a class="btn btn-link" href="/rankstudent">Student Ranks Panel &raquo;</a></h2>
    </div>
    <div class="col-md-4">
        <h2><a class="btn btn-link" href="/rankteacher">Teacher Ranks Panel &raquo;</a></h2>
    </div>
</div>*@

<div class="row">
    <div class="col-md-4">
        <div class="card card-student">
            <div class="card-content">
                <div class="card-icon">
                </div>
                <div class="card-heading">
                    Students
                </div>
                <div class="card-body">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </div>
                <div class="card-footer">
                    <a class="btn btn-default">Register</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-teacher">
            <div class="card-content">
                <div class="card-icon">
                </div>
                <div class="card-heading">
                    Teacher
                </div>
                <div class="card-body">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </div>
                <div class="card-footer">
                    <a class="btn btn-default">Register</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-admin">
            <div class="card-content">
                <div class="card-icon">
                </div>
                <div class="card-heading">
                    Administrator
                </div>
                <div class="card-body">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </div>
                <div class="card-footer">
                    <a class="btn btn-default">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <div>
            @Html.Partial("Register")
        </div>
    </div>
    <div class="col-md-5">
        <div>
            @Html.Partial("Login")
        </div>
    </div>
</div>